node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env

expo-config.txt
expo-error.txt
New _ Edge Functions _ Mediva _ poorvilokesh27's Org _ Supabase.html
New _ Edge Functions _ Mediva _ poorvilokesh27's Org _ Supabase_files/
geminie-medipal _ Code _ Edge Functions _ Mediva _ poorvilokesh27's Org _ Supabase.html
geminie-medipal _ Code _ Edge Functions _ Mediva _ poorvilokesh27's Org _ Supabase_files/
geminie-medipal- _ Code _ Edge Functions _ Mediva _ poorvilokesh27's Org _ Supabase.html
geminie-medipal- _ Code _ Edge Functions _ Mediva _ poorvilokesh27's Org _ Supabase_files/
medipal-chat _ Code _ Edge Functions _ Mediva _ poorvilokesh27's Org _ Supabase.html
medipal-chat _ Code _ Edge Functions _ Mediva _ poorvilokesh27's Org _ Supabase_files/
